* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('backround.jpg');
    background-size: cover;
}


.thingy {
    height: 43.5vh;
    width: 43.5vh;
    margin-top: 2vh
}

h1 {
    text-align: center;
}

row,span{
    align-content: center;
}

.form-check {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}