<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }
        .mdc-list {
            display: flex;
            flex-direction: column;
        }
        .mdc-drawer__header {
            padding: 10px;
        }
        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
        .mdc-list-item__text {
            padding-left: 10px;
        }
        .mdc-drawer {
            border-right-color: rgba(0,0,0,.12);
            border-right-style: solid;
            width: 10%;
        }
        form {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Zadanie 3</h3>
        <h6 class="mdc-drawer__subtitle">David Gavenda</h6>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/user/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-list-item__text">Users</span>
            </a>
        </nav>
    </div>
</aside>

<div style="display: flex; flex-direction: column; width: 100%; overflow: auto">
    <h1 style="margin: 10px;">Update injury insurance</h1>
    <form th:action="@{/update_Injury}" th:object="${agreement}" method="post">
        <div class="mdl-textfield mdl-js-textfield">

            <label>
                <input type="hidden" th:field="*{id}"/>
            </label>

            <p> Creation Date :
                <input class="mdl-textfield__input" type="date" id="creationDate" th:field="*{creationDate}" /></p>
            <label class="mdl-textfield__label" for="creationDate"></label>
            <p> Validity Since :
                <input class="mdl-textfield__input" type="date" id="validitySince" th:field="*{validitySince}" /></p>
            <label class="mdl-textfield__label" for="validitySince"></label>
            <p> Validity Till :
                <input class="mdl-textfield__input" type="date" id="validityTill" th:field="*{validityTill}" /></p>
            <label class="mdl-textfield__label" for="validityTill"></label>
            <p> Insurance amount :
                <input class="mdl-textfield__input" type="number" id="insuranceAmount" th:field="*{insuranceAmount}" /></p>
            <label class="mdl-textfield__label" for="insuranceAmount"></label>
            <p> Monthly payment :
                <input class="mdl-textfield__input" type="number" id="monthlyPayment" th:field="*{monthlyPayment}" /></p>
            <label class="mdl-textfield__label" for="monthlyPayment"></label>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input" name="insuredId" id="insuredId">
                    <option th:each="user: ${users.values()}" th:value="${user.id}" th:text="${user.name}" th:field="*{insuredId}"></option>
                </select>
                <label class="mdl-textfield__label" for="insuredId">Insured</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input" name="insurerId" id="insurerId">
                    <option th:each="user: ${users.values()}" th:value="${user.id}" th:text="${user.name}" th:field="*{insurerId}"></option>
                </select>
                <label class="mdl-textfield__label" for="insurerId">Insurer</label>
            </div>



            <p> Persistent effects :
                <input class="mdl-textfield__input" type="number" id="persistentEffects" th:field="*{persistentEffects}" /></p>
            <label class="mdl-textfield__label" for="persistentEffects"></label>


            <p> Death caused by accident :
                <input class="mdl-textfield__input" type="number" id="deathCausedByAccident" th:field="*{deathByAccident}" /></p>
            <label class="mdl-textfield__label" for="deathCausedByAccident"></label>

            <p> Daily amends :
                <input class="mdl-textfield__input" type="number" id="dailyAmends" th:field="*{dailyAmends}" /></p>
            <label class="mdl-textfield__label" for="dailyAmends"></label>

            <p> Teritorial validity :
                <select name="territorialValidity">
                    <option th:each="territorialValidity : ${T(sk.stuba.fei.uim.oop.eshop.agreements.LifeInsurance.ENUMS.TerritorialValidity).values()}"
                            th:value="${territorialValidity}"
                            th:text="${territorialValidity}"
                    </option>
                </select>
            </p>
        </div>


        <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised" style="width: fit-content;"/>
    </form>
</div>
</body>
</html>

